.analysis-page {
  display: flex;
  justify-content: space-between;
  margin: 50px;
}
.title{
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-self: center;
  justify-self: center;
}
.conditions-container {
  display: flex;
  flex-wrap: wrap;
}
.create-queries{
  width: 50%;
  background-color: #f7f7f7;
  border-radius: 20px;
  margin: 10px;
  padding-left: 30px;
  padding-bottom: 20px;
}
.create-conditions{
  width: 50%;
  background-color: #f7f7f7;
  border-radius: 20px;
  margin: 10px;
  padding-left: 30px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
}
.sides{
  display: flex;
  flex-direction: row;
  margin: 10px;
}
.right{
  padding-left: 10px;
}
.created-conditions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.create-queries h2,
.create-conditions h2 {
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}
.typ, .met, .freq, .operator, .input, .names, 
.input_name, .input_metric, .input_operator, .input_value,
.input_qid, .input_aggf, .input_aggm{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.query-options {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
}

.find{
  justify-content: center;
  align-content: center;
}

.selected {
  background-color: green;
}

.trends-button {
  display: block;
  margin-top: 50px;
  padding: 10px 20px;
  background-color: #00994d;
  color: #fff;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

.trends-button:hover {
  background-color: #059635;
  color: #fff;
}