.analysis-page {
  display: flex;
  justify-content: space-between;
  margin: 50px;
}
.title{
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-self: center;
  justify-self: center;
}

.create-queries,
.create-conditions {
  width: 45%;
  background-color: #f7f7f7;
  border-radius: 20px;
  padding: 20px;
}

.create-queries h2,
.create-conditions h2 {
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}
.typ, .met, .freq, .operator, .input, .names{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.query-options {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
}

.find{
  justify-content: center;
  align-content: center;
}

