.analysis-page {
  display: flex;
  justify-content: space-between;
  margin: 50px;
}

.create-queries,
.create-conditions {
  width: 45%;
  background-color: #f7f7f7;
  border-radius: 20px;
  padding: 20px;
}

.create-queries h2,
.create-conditions h2 {
  margin-bottom: 20px;
}

.query-options {
  display: flex;
  flex-direction: column;
  align-items: center;
}

