.case{
    background-color: white;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.trend{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
}

.tableside {
    display: flex;
    flex-direction: column;
    width: 450px;
    min-height: 500px; /* use min-height instead of height */
    background-color:  #f7f7f7;
    border-radius: 15px;
    padding: 15px;
    margin: 20px;
  }
 .graphside{
    display: flex;
    flex-direction: column;
    width: 850px;
    height: 500px;
    background-color:  #f7f7f7;
    border-radius: 15px;
    padding: 15px;
    margin: 20px
 }