:root {
  --primary: #fff;
}

.btn {
  padding: 8px 20px;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn--primary {
  background-color: #1DB954;
  color:black;
  border: 2px solid black;
  border-radius: 4px;
}

.btn--outline {
  background-color: white;
  color: #1DB954;
  padding: 8px 20px;
  border: 1px solid var(--primary);
  transition: all 0.3s ease-out;
  border-color: #1DB954;
}

.btn--small{
  padding: 5px;
  font-size: 13;
}
.btn--medium {
  padding: 8px 20px;
  font-size: 18px;
}

.btn--large {
  padding: 12px 26px;
  font-size: 20px;
}



.btn--large:hover,
.btn--medium:hover {
  transition: all 0.3s ease-out;
  background: #fff;
  border-color: #1DB954;
  color: #1DB954;
  transition: 250ms;
}

.btn--small:hover{
  transition: all 0.3s ease-out;
  background: #1DB954;
  border-color: white;
  color: white;
  transition: 250ms;
}