.App {
  text-align: center;
}

.logo {
  width: 100px;
  height: auto;
  position: absolute;
  top: 0;
  left: 10;
}

.welcome-message {
  margin-left: 120px;
  font-size: 48px;
}

.getstarted{
  font-size: 30px;
}